.gridcontainer {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr 0.5fr;
  grid-template-areas: "Balance LOGO Win" "SLOTS SLOTS SLOTS" "SLOTS SLOTS SLOTS" "SLOTS SLOTS SLOTS" "Add Bet Remove" "SPIN SPIN SPIN";
}

.SLOTS { grid-area: SLOTS; }

.Balance { grid-area: Balance;
  background: #000;
  position: relative;
}

.Win { grid-area: Win; 
  background: #000;
  text-align: center;
  position: relative;
}

.topWrap{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.247) 47.4%, rgba(255, 255, 255, 0) 100%);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-sizing: border-box;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 80%;
}

.LOGO { grid-area: LOGO;
  background: #000;
  position: relative;
}

.SPIN { grid-area: SPIN; background: #000; position: relative;}

.Bet { grid-area: Bet; position: relative; }

.Add { grid-area: Add; position: relative;}

.Add svg, .Remove svg{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    max-height: 50%;
    max-width: 50%;
    font-size:100px;
    color:#CD1919;
}

.Remove { grid-area: Remove; position: relative;}


.spinnercontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". . .";
  height: 100%;
}

h2{
  font-family: Bangers;
  font-style: normal;
  font-weight: normal;
  font-size: 2em;
  color: #F7931A;
  margin:0px;
}

h3{
  font-family: 'Knewave', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
  margin:0px;
  
  color: #FFFFFF;
}

.Bet h3{
  color:#000;
}

h1 {
  text-align: center;
  font-family: 'Knewave', cursive;
  font-size: 7vw;
  color: #fff;
  position: absolute;
  left:30%;
  top:50%;
  transform: translate(-50%, -50%)  rotate(-35.29deg);
  margin:0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
} 

h1 em{
  display: block;
  position: absolute;
  font-size: 5vw;
  left:60%;
  bottom:-50%;
  font-family: 'Bangers', cursive;
  transform: rotate(35.29deg);
  color: #F7931A;
}

.arrowRight {
  width: 0px;
  height: 0px;
  border-top: 4vw solid transparent;
  border-bottom: 4vw solid transparent;
  border-left: 10vw solid #CD1919;
  position: absolute;
  top:50%;
  left: 0;
  transform: translate(0%, -10vw) 
}

.arrowLeft {
  width: 0px;
  height: 0px;
  border-top: 4vw solid transparent;
  border-bottom: 4vw solid transparent;
  border-right: 10vw solid #CD1919;
  position: absolute;
  right: 0;
  top:50%;
  transform: translate(0%, -10vw) 
}


/* WINNER */
.winner{
  background-color: transparent;
  transition: transform 0.1s linear,background-color 0.1s ease;
  transform: scale(0);
  pointer-events: none;
}
.winner.winActive{
  transition: transform 0.1s linear,background-color 0.5s ease;
  background-color: rgba(0,0,0,0.5);
  transform: scale(1);
}
.winner,.winner:before,.winner:after{
  position: absolute;
  top: 0;
  left :0;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  z-index: 3;
}
.winner:before,.winner:after{
  width: 100vw;
  height: 100vw;
  top : -25vw;
}
.winner:before{
  background : url(../image/winner2.svg) no-repeat center;
  background-size: cover;
  animation:         rotateBackground 12s linear infinite;
}
.winner:after{
  background : url(../image/winner1.svg) no-repeat center;
  background-size: 50% 50%;
  animation:         scaleForeground 2s linear infinite;
}

@keyframes rotateBackground {
  100% { transform: rotate(360deg); }
}
@keyframes scaleForeground {
  50% { transform: scale(0.5); }
}