.icons { 
  display: inline-block;
  width: 121px;
  height: 360px;
  overflow: hidden;
  background: #fff url(../image/reel.png) repeat-y;
  will-change: backgroundPosition;
  transition: 0.3s background-position ease-in-out;
  padding: 0 80px;
  transform: translateZ(0);
}